<div id="<%= dom_id room %>" class="room">
  <h2><%= room.name %></h2>

  <span class="category"><%= room.category %></span>

  <% if room.user != Current.user %>
    <div class="admin"><%= room.user.name %></div>
  <% else %>
    <div class="admin">Yours</div>
  <% end %>

  <%= link_to "Visit", room %>
  

</div>
