<div id="<%= dom_id room %>" class="room">
  <h2><%= room.name %></h2>

  <span class="category"><%= room.category %></span>

  <% if room.user != Current.user %>
    <%= link_to room.user.name, profile_path(room.user) %>
  <% else %>
    <div class="admin">Yours</div>
  <% end %>

  <%= link_to "Visit", room %>
  

</div>
