<div id="room-page">
  <div id="room-info">
    <h2><%= @room.name %></h2>

    <span class="category"><%= @room.category %></span>

  </div>

  <div class="room-actions">
    <span class="action"><%= link_to "Edit this room", edit_room_path(@room) %></span>
    <span class="action"><%= link_to "Back to rooms", rooms_path %></span>
    <span class="action"><%= link_to "Destroy this room", @room, method: :delete %></span>
  </div>
</div>
<div id="scene" data-controller="render-room" data-room-id="<%= @room.id %>"></div>