<div id="room-info">
  <%= render @room %>
</div>

<div class="room-actions">
  <%= link_to "Edit this room", edit_room_path(@room) %> |
  <%= link_to "Back to rooms", rooms_path %>

  <%= button_to "Destroy this room", @room, method: :delete %>
</div>
<div data-controller="render-room" data-room-id="<%= @room.id %>"></div>